body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.header,
.footer{
  display: flex;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex: 0 0 300px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  width: 300px;
  padding: 16px;
}

li{
  list-style-type: none;
  margin-bottom: 16px;
}
a{
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.mid-box {
  display: flex;
  flex: 1;
}
.card-box {
  display: flex;
  gap: 32px;
  padding: 48px;
  flex-wrap: wrap;
}

body{
  display: flex;
  flex-direction: column;
}